@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <h2>Technologies used</h2>
        <ul>
            <li><a href="https://www.microsoft.com/net/core#windowscmd">ASP.NET Core 2.0</a></li>
            <li><a href="https://docs.microsoft.com/en-us/aspnet/core/mvc/overview">MVC 6</a></li>
            <li>Theming using <a href="http://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Database</h2>
        <ul>
            <li><a href="http://www.oracle.com/technetwork/database/enterprise-edition/downloads/database12c-linux-download-2240591.html">Oracle 12c for Linux</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Host</h2>
        <ul>
            <li><a href="https://aws.amazon.com/ec2/?nc1=h_ls">Amazon EC2 Web Services</a></li>
            <li><a href="https://aws.amazon.com/amazon-linux-ami/Linux VM">Linux Virtual Machine</a></li>
            <li><a href="https://httpd.apache.org/">Apache Web Server</a></li>
            <li><a href="http://supervisord.org/">Supervisor Process Control System</a></li>
        </ul>
    </div>
</div>
