@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>

<address>
    Sébastien Dubos <br />
    Heleneborgsgatan 5b
    Sweden <br />
    117 31 Stockholm<br />
    <abbr title="Phone">P:</abbr>
    0046 7 36 52 71 82
</address>

<address>
    <strong>Support:</strong> <a href="mailto:sebastien.dubos@gmail.com">sebastien.dubos@gmail.com</a><br />
    <strong>Contact:</strong> <a href="mailto:sebastien.dubos@gmail.com">sebastien.dubos@gmail.com</a>
</address>